
<h1>Control de Productos</h1>
<button [routerLink]="['/AddProduct']" class="btn btn-primary my-2">Insertar nuevo producto</button>

<table class="table" *ngIf="Productos">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Av. Stock</th>
        <th scope="col">Sale Unit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of Productos">
        <th scope="row">{{ producto.prodId }}</th>
        <td>{{ producto.prodDescription }}</td>
        <td>{{ producto.prodPrice }}</td>
        <td>{{ producto.prodStock }}</td>
        <td>{{ producto.prodSaleUnit }}</td>
        <td>
          <button [routerLink]="['/EditProduct/', producto.prodId]"class="btn btn-warning me-3">Actualizar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
      
      
      <!-- <button (click)="open()">Launch</button> -->
    </tbody>
  </table>